<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chekit_ver_1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chekit_ver_1">
        <activity android:name=".progress_status"></activity>
        <activity android:name=".check_test_result" />
        <activity
            android:name=".test_record_management"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".main_login" />
        <activity
            android:name=".self_test_result"
            android:parentActivityName=".self_test_checklist" />
        <activity android:name=".self_test_checklist" />
        <activity android:name=".main_join" />
        <activity android:name=".simple_login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>